{block jumbotron}
	<h1>SVG Compare</h1>
	<p>Insert your SVG drawing and we try to find this in our database.</p>
	{control uploadSvgForm}
{/block}

{block content}

    Try insert your SVG file ;-).

{/block}
