/* ---------------------------------------
 * MI-VWM design
 */

body {
    background-color: #C73;
}

.menu {
    background: #C82;
}

.menu-item {
    background-color: #003366;
    transition: background-color 2s;
}

.menu-item:hover {
    background-color: white;
}

#main-content {

}

.border-top {
    border-top: 1px solid #DDD;
}

.thumbnail-image {
    width: 100%;
    max-height: 250px;
}

.main-image {
    width: 100%;
    max-height: 90vh;
}

footer {
    height: 2em;
}

.placeholder-h250 {
    height: 250px;
    vertical-align: middle;
    background-image: url('../img/bg.svg');
}

.only-one-row {
    min-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

